body {
 background: rgba(255, 155, 20, 0.35);
 owerflow: hidden;
 color: black;
 display: flex;
 flex-direction: column;
 text-align: center;
 font-size: 12px;
}

header {
 width: 100%;
 height: 200px
 display: flex;
 align-items: center;
 justify-content: center; 
 color: black;
 background: linear-gradient(60deg, red, orange, red, yellow); 
 border: 2px solid black;
 border-radius: 15px;
 margin-bottom: 40px;
}